# Python Pro Bootcamp - Day 02

### Type Error

In [1]:
print(len(12345))

TypeError: object of type 'int' has no len()

## Data Types

### 1. Strings

In [4]:
string = "Hello"

### Subscripting

In [5]:
# We can get access to specific elements of string by passing the position or Index of our element
print(string[0])

H

In [6]:
print(string[4])

o

### 2. Integers

In [7]:
num = 2685

In [8]:
print(12 + 15)

27

### We can seperate numbers by "_" for our understanding but computer will ignore it

In [16]:
number = 123_456_789

In [17]:
print(number)

123456789

### 3. Floats

In [24]:
var = 3.14159

In [25]:
print(var)

3.14159

### 4. Booleans

In [26]:
# There are only two possible values of Booleans, that are True and False
alpha = True
beta = False

In [35]:
print(alpha)

True

In [36]:
print(beta)

False

### Getting the data type of an object by type() function

In [37]:
print(type("name"))

<class 'str'>

In [38]:
print(type(123))

<class 'int'>

In [39]:
print(type(1.2))

<class 'float'>

### We can not add an integer to a string. If we do so, then we will get a type error

In [41]:
print("hello" + 123)

TypeError: can only concatenate str (not "int") to str

## Type Casting or Type Conversion
### The process of converting the value of one data type (integer, string, float, etc.) to another data type is called type conversion

In [43]:
num = 123

In [44]:
print(type(num))

<class 'int'>

In [45]:
num_string = str(num)

In [46]:
print(num_string)

123

In [47]:
print(type(num_string))

<class 'str'>

In [48]:
print(str(123) + str(456))

123456

In [49]:
print(12 + float("56.3"))

68.3

In [50]:
print(float(9))

9.0

### Mathematical Operators

In [52]:
# "+" operator returns sum
print(2 + 2)

4

In [53]:
# "-" operator returns substraction
print(9 - 6)

3

In [54]:
# "*" operator returns multiplication
print(2*9)

18

In [57]:
# "/" operator returns a float after dividing
print(6/2)

3.0

In [59]:
# "**" operator returns exponent which is first number to the power of second
# For example 2**3 will return 2 raised to the power 3 which is 8
print(2**3)

8

### Mathematical Operations follow PEMDASLR
### 1. Parenthesis
### 2. Exponentiation
### 3. Multiplication
### 4. Division
### 5. Addition
### 6. Substraction
### Order of Priority is :
### ()
### **
### * / ---> Both are equally important
### + - ---> Both are equally important
### Code is executed from left to right

In [62]:
print((2+3)**2*4/5+30-10)

# Steps Involved --->
# print(5**2*4/5+30-10)
# print(25*4/5+30-10)
# print(100/5+30-10)
# print(20.0+30-10)
# print(50.0-10)
# print(40.0)

40.0

In [64]:
print(3 * 3 + 3 / 3 - 3)

7.0

In [66]:
# Challenge ---> Make changes in "print(3 * 3 + 3 / 3 - 3)" so that result is 3 instead of 7
print(3 * (3 + 3) / 3 - 3)

3.0

### Rounding digits

In [72]:
# print(8/3) returns 2.6666666666666665
# Rounding off will give 3
print(round(8 / 3))

3

In [73]:
# We can also specify the number of digits to be rounded off
# Syntax ---> round(number_to_be_rounded, number_of_digits)
print(round(8 / 3, 2))

2.67

### Floor division

In [76]:
# "//" is used to get quotient i.e., an integer
num = 8 // 3
print(num)
print(type(num))

2
<class 'int'>

## Shorthand Operators

In [95]:
score = 100

In [96]:
score +=1

In [97]:
print(score)

101

In [98]:
score-=1

In [99]:
print(score)

100

In [100]:
score//=6

In [101]:
print(score)

16

### !!! NOTE
### Using shorthand operators is like assigning a value, for example "score+=10" is same as "score = score + 10" So do not use them inside print() statement like print(score+=10) because print() function takes values not expressions as arguments. It will result in invalid syntax if you do so.

In [106]:
print(score+=10)

SyntaxError: invalid syntax (1591979315.py, line 1)

## F-Strings
### F-strings provide a way to embed expressions inside string literals, using a minimal syntax
### They can be used when we don't want to convert each datatype explicitly

In [103]:
# Syntax ---> f"some string {variable1} some more string {variable2}"
name = "dean"
score = 100
isWinning = True
level = 5
example_fString = f"Hello {name}, You have reached level {level}.\nYour score is {score}\nAreYouWinning is {isWinning}"
print(example_fString)

Hello dean, You have reached level 5.
Your score is 100
AreYouWinning is True

In [105]:
# Challenge ---> Life calculator
# 🚨 Don't change the code below 👇
age = input("What is your current age?\n")
# 🚨 Don't change the code above 👆

#Write your code below this line 👇

yearsLeft = 90 - int(age)
monthsLeft = yearsLeft*12
weeksLeft = yearsLeft*52
daysLeft = yearsLeft*365
print(f"You have {daysLeft} days, {weeksLeft} weeks, and {monthsLeft} months left.")

What is your current age?
19
You have 25915 days, 3692 weeks, and 852 months left.

## Project - Tip Calculator

In [109]:
print("Welcome to the tip calculator.")

bill_Amount = input("What was the total bill?\n$")
bill = float(bill_Amount)

tip_percentage = input("What percentage tip would you like to give?\n10, 12, or 15?")
tip = int(tip_percentage)

number_of_people = input("How many people to split the bill?\n")
num = int(number_of_people)

tip_to_give = (tip/100)*bill

bill_with_tip = bill + tip_to_give

bill_of_each_person = round(bill_with_tip/num, 2)

print(f"Each person should pay: ${bill_of_each_person}")

Welcome to the tip calculator.
What was the total bill?
$124.56
What percentage tip would you like to give?
10, 12, or 15?12
How many people to split the bill?
7
Each person should pay: $19.93